<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/modal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/font.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/graph.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/fact.js') }}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script> -->

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <!-- conversation -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fact Checking</title>
    <link rel='stylesheet' id='style-css' href="{{ url_for('static', filename='styles/style_conservation.css') }}"
        type='text/css' media='all' />


</head>

<body>
    <div id="budget-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Optimize Budget Allocation</h2>
            </div>
            <div class="modal-body">
                <form method=post action="/" enctype=multipart/form-data> <h4>Budget</h4>
                    <input type=number value=0 name=budget style="font-size: 18px;">
                    <input type="submit" value="OK" class="button">
                </form>
            </div>
            <!-- <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div> -->
        </div>
    </div>
    <div class="grid-container">
        <div class="header">
            <div class="grid-header">
                <div id="logo-griffith">
                    <a href="/">
                        <!-- <img width="180px" height="60px" src="./static/img/logo.png"> -->
                        <div>Fact Checking</div>
                    </a>
                </div>
                <div id="select-file">
                    <form method=post action="/upload" enctype=multipart/form-data> <input type=file name=file>
                        <input type=submit value=Upload>
                    </form>
                </div>
                <div>
                    <button class="button">
                        <a href="/download" style="color: white">Take Snapshot</a>
                    </button>
                    <!-- <a class="button" href="/download">Take Snapshot</a> -->
                    <button class="button" id="myBtn">Optimize Budget Allocation</button>
                    <button class="button">Stop Feedback</button>
                </div>
            </div>
        </div>
        <div class="claim" id="block-claim">
            <table class="claim-table content">
                <tr>
                    <th style="width: 40px">Rank</th>
                    <th style="width: 65%" class="topnav">
                        <span> Claim </span>
                        <input type="text" id="input-for-claim" onkeyup="searchClaim()" style="display:none"
                            placeholder="Search for claims.." title="Type in a name">
                        <i class="fa fa-search" onclick="toggleSearch()" />
                    </th>
                    <th style="width: 50px">Prob</th>
                    <th style="width: 70px">Credibility</th>
                </tr>
            </table>
            <div id="block-claim2">
                <table class="claim-table content" id="list-claim">
                    {% for claim in data%}
                    <tr onclick="selectClaim({{ loop.index }},{{ claim }})" id="{{ claim['Claim_ID'] }}"
                        class="item-claim">
                        <td style="width:40px">{{ loop.index }}</td>
                        <td style="text-align: left;width: 65%; font-size:15px;padding-top: 10px;padding-bottom: 10px;">
                            {{ claim["Claim"] }}</td>
                        <td style="width:50px">{{ claim["Prob"] }}</td>
                        <td style="width: 70px">{{ claim["Credibility"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="detail content">
            <div id="header-claim">
                <span id="no-claim">1.</span>
                <span id="title-claim">{{ data[0]["Claim"] }}</span>
            </div>
            <div style="max-height: 400px;">
                <div class="tab">
                    <button class="tablinks" onclick="openCity(event,'info-claim')" id="defaultOpen">Detail</button>
                    <button class="tablinks" onclick="openCity(event, 'relations')">Relations</button>
                </div>
                <div id="info-claim" class="tabcontent item-tab">
                    <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
                    <!-- <h3>London</h3> -->
                    <!-- <div id="info-claim"> -->
                    <div>
                        <div>
                            <h4>
                                Origins
                            </h4>
                            <p id="origins-claim">
                                {{ data[0]["Origins"] }}
                            </p>
                        </div>
                        <div>
                            <h4>
                                Description
                            </h4>
                            <span>
                                <span id="description-short">
                                    {{ data[0]["Description"][:100] }}
                                </span>
                                <span id="dots">...</span>
                                <span id="more">
                                    {{ data[0]["Description"][100:]}}
                                </span>

                                <button onclick="readMore()" id="btn-readmore" class="button">Read more</button>
                        </div>
                        <div>
                            <h4>
                                Example
                            </h4>
                            <p id="example-claim">
                                {{ data[0]["Example"] }}
                            </p>
                        </div>
                        <div>
                            <h4>
                                Originally Published
                            </h4>
                            <p id="originally-published-claim">
                                {{ data[0]["Originally Published"] }}
                                <!-- 22 July 2015 -->
                            </p>
                        </div>
                        <div>
                            <h4>
                                Last Updated
                            </h4>
                            <p id="last-updated-claim">
                                {{ data[0]["Last Updated"] }}
                                <!-- 4 December 2015 -->
                            </p>
                        </div>
                        <div id="tag-claim">
                            {% for tag in data[0]["Tags"]%}
                            <span class="tag-claim-item"> #{{ tag }} </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div id="relations" class="tabcontent item-tab">
                    <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
                    <div id="relation-claim" style="overflow: auto; width: 900px; height: 370px;">
                    </div>
                </div>

                <div>
                    <form method=post action="/process">
                        <input type="hidden" name="claimId" value="{{ data[0].Claim_ID }}">
                        <!-- <div id="radio-credibility" class="validation-claim"> -->
                        <!-- <input type="radio" name="cred" value="1"> Credibility -->
                        <!-- <input type="radio" name="cred" value="0"> Non-Credibility -->
                        <!-- </div> -->
                        <div class="validation-claim">
                            <input type=submit class="button btn-validation" name="Credibility" value="Credibility">
                            <input type=submit class="button btn-validation" name="Credibility" value="Non-Credibility">
                            <!-- <button type="button" class="button btn-validation">Next</button> -->
                            <!-- <button type="button" class="button btn-validation">Log</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <div id="main" style="grid-column-start:1;grid-column-end: 3;">
        <h3 style="padding-left:30px">Sources of Claim</h3>
        <div id="graph" style="text-align:center"></div>
        <div id="graph-info"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/conversation.min.js') }}"></script> -->
    <script>
        (function () {
            var a = 1200
                , c = 800
                , h = c
                , U = 200
                , K = 16
                , S = 20
                , s = 8
                , R = 110
                , J = 30
                , o = 15
                , t = 10
                , w = 1000
                , F = "elastic"
                , N = "#0da4d3";
            var T, q, x, j, H, A, P;
            var L = {}
                , k = {};
            var i, y;
            var r = d3.layout.tree().size([360, h / 2 - R]).separation(function (Y, X) {
                return (Y.parent == X.parent ? 1 : 2) / Y.depth
            });
            var W = d3.svg.diagonal.radial().projection(function (X) {
                return [X.y, X.x / 180 * Math.PI]
            });
            var v = d3.svg.line().x(function (X) {
                return X[0]
            }).y(function (X) {
                return X[1]
            }).interpolate("bundle").tension(0.5);
            var d = d3.select("#graph").append("svg").attr("width", a).attr("height", c).append("g").attr("transform", "translate(" + a / 2 + "," + c / 2 + ")");
            var I = d.append("rect").attr("class", "bg").attr({
                x: a / -2,
                y: c / -2,
                width: a,
                height: c,
                fill: "transparent"
            }).on("click", O);
            var B = d.append("g").attr("class", "links")
                , f = d.append("g").attr("class", "episodes")
                , E = d.append("g").attr("class", "nodes");
            var Q = d3.select("#graph-info");
            // d3.json("./static/js/metadata.json", function (X, Y) {

                // var X = JSON.parse('{{  data[0]["Sources Relation"] | safe}}');
                var Y = JSON.parse('{{  data[0]["Sources Relation"] | safe}}');
                // console.log("X day: ");
                // console.log(X);
                console.log("Y day: ");
                console.log(Y);
                T = d3.map(Y);
                q = d3.merge(T.values());
                x = {};
                A = d3.map();
                q.forEach(function (aa) {
                    aa.key = p(aa.name);
                    aa.canonicalKey = aa.key;
                    x[aa.key] = aa;
                    if (aa.group) {
                        if (!A.has(aa.group)) {
                            A.set(aa.group, [])
                        }
                        A.get(aa.group).push(aa)
                    }
                });
                j = d3.map();
                T.get("episodes").forEach(function (aa) {
                    aa.links = aa.links.filter(function (ab) {
                        return typeof x[p(ab)] !== "undefined" && ab.indexOf("r-") !== 0
                    });
                    j.set(aa.key, aa.links.map(function (ab) {
                        var ac = p(ab);
                        if (typeof j.get(ac) === "undefined") {
                            j.set(ac, [])
                        }
                        j.get(ac).push(aa);
                        return x[ac]
                    }))
                });
                var Z = window.location.hash.substring(1);
                if (Z && x[Z]) {
                    G(x[Z])
                } else {
                    O();
                    M()
                }
                window.onhashchange = function () {
                    var aa = window.location.hash.substring(1);
                    if (aa && x[aa]) {
                        G(x[aa], true)
                    }
                }
            // });
            function O() {
                if (L.node === null) {
                    return
                }
                L = {
                    node: null,
                    map: {}
                };
                i = Math.floor(c / T.get("episodes").length);
                y = Math.floor(T.get("episodes").length * i / 2);
                T.get("episodes").forEach(function (af, ae) {
                    af.x = U / -2;
                    af.y = ae * i - y
                });
                var ad = 180 + J
                    , Z = 360 - J
                    , ac = (Z - ad) / (T.get("themes").length - 1);
                T.get("themes").forEach(function (af, ae) {
                    af.x = Z - ae * ac;
                    af.y = h / 2 - R;
                    af.xOffset = -S;
                    af.depth = 1
                });
                ad = J;
                Z = 180 - J;
                ac = (Z - ad) / (T.get("perspectives").length - 1);
                T.get("perspectives").forEach(function (af, ae) {
                    af.x = ae * ac + ad;
                    af.y = h / 2 - R;
                    af.xOffset = S;
                    af.depth = 1
                });
                H = [];
                var ab, Y, aa, X = h / 2 - R;
                T.get("episodes").forEach(function (ae) {
                    ae.links.forEach(function (af) {
                        ab = x[p(af)];
                        if (!ab || ab.type === "reference") {
                            return
                        }
                        Y = (ab.x - 90) * Math.PI / 180;
                        aa = ae.key + "-to-" + ab.key;
                        H.push({
                            source: ae,
                            target: ab,
                            key: aa,
                            canonicalKey: aa,
                            x1: ae.x + (ab.type === "theme" ? 0 : U),
                            y1: ae.y + K / 2,
                            x2: Math.cos(Y) * X + ab.xOffset,
                            y2: Math.sin(Y) * X
                        })
                    })
                });
                P = [];
                A.forEach(function (af, ag) {
                    var ae = (ag[0].x - 90) * Math.PI / 180;
                    a2 = (ag[1].x - 90) * Math.PI / 180,
                        bulge = 20;
                    P.push({
                        x1: Math.cos(ae) * X + ag[0].xOffset,
                        y1: Math.sin(ae) * X,
                        xx: Math.cos((ae + a2) / 2) * (X + bulge) + ag[0].xOffset,
                        yy: Math.sin((ae + a2) / 2) * (X + bulge),
                        x2: Math.cos(a2) * X + ag[1].xOffset,
                        y2: Math.sin(a2) * X
                    })
                });
                window.location.hash = "";
                M()
            }
            function G(Y, X) {
                if (L.node === Y && X !== true) {
                    if (Y.type === "episode") {
                        window.location.href = "/" + Y.slug;
                        return
                    }
                    L.node.children.forEach(function (aa) {
                        aa.children = aa._group
                    });
                    e();
                    return
                }
                if (Y.isGroup) {
                    L.node.children.forEach(function (aa) {
                        aa.children = aa._group
                    });
                    Y.parent.children = Y.parent._children;
                    e();
                    return
                }
                Y = x[Y.canonicalKey];
                q.forEach(function (aa) {
                    aa.parent = null;
                    aa.children = [];
                    aa._children = [];
                    aa._group = [];
                    aa.canonicalKey = aa.key;
                    aa.xOffset = 0
                });
                L.node = Y;
                L.node.children = j.get(Y.canonicalKey);
                L.map = {};
                var Z = 0;
                L.node.children.forEach(function (ac) {
                    L.map[ac.key] = true;
                    ac._children = j.get(ac.key).filter(function (ad) {
                        return ad.canonicalKey !== Y.canonicalKey
                    });
                    ac._children = JSON.parse(JSON.stringify(ac._children));
                    ac._children.forEach(function (ad) {
                        ad.canonicalKey = ad.key;
                        ad.key = ac.key + "-" + ad.key;
                        L.map[ad.key] = true
                    });
                    var aa = ac.key + "-group"
                        , ab = ac._children.length;
                    ac._group = [{
                        isGroup: true,
                        key: aa + "-group-key",
                        canonicalKey: aa,
                        name: ab,
                        count: ab,
                        xOffset: 0
                    }];
                    L.map[aa] = true;
                    Z += ab
                });
                L.node.children.forEach(function (aa) {
                    aa.children = Z > 50 ? aa._group : aa._children
                });
                window.location.hash = L.node.key;
                e()
            }
            function n() {
                k = {
                    node: null,
                    map: {}
                };
                z()
            }
            function g(X) {
                if (k.node === X) {
                    return
                }
                k.node = X;
                k.map = {};
                k.map[X.key] = true;
                if (X.key !== X.canonicalKey) {
                    k.map[X.parent.canonicalKey] = true;
                    k.map[X.parent.canonicalKey + "-to-" + X.canonicalKey] = true;
                    k.map[X.canonicalKey + "-to-" + X.parent.canonicalKey] = true
                } else {
                    j.get(X.canonicalKey).forEach(function (Y) {
                        k.map[Y.canonicalKey] = true;
                        k.map[X.canonicalKey + "-" + Y.canonicalKey] = true
                    });
                    H.forEach(function (Y) {
                        if (k.map[Y.source.canonicalKey] && k.map[Y.target.canonicalKey]) {
                            k.map[Y.canonicalKey] = true
                        }
                    })
                }
                z()
            }
            function M() {
                V();
                B.selectAll("path").attr("d", function (X) {
                    return v([[X.x1, X.y1], [X.x1, X.y1], [X.x1, X.y1]])
                }).transition().duration(w).ease(F).attr("d", function (X) {
                    return v([[X.x1, X.y1], [X.target.xOffset * s, 0], [X.x2, X.y2]])
                });
                D(T.get("episodes"));
                b(d3.merge([T.get("themes"), T.get("perspectives")]));
                C([]);
                m(P);
                // Q.html('<a href="/the-concept-map/">What\'s this?</a>');
                n();
                z()
            }
            function e() {
                var X = r.nodes(L.node);
                X.forEach(function (Z) {
                    if (Z.depth === 1) {
                        Z.y -= 20
                    }
                });
                H = r.links(X);
                H.forEach(function (Z) {
                    if (Z.source.type === "episode") {
                        Z.key = Z.source.canonicalKey + "-to-" + Z.target.canonicalKey
                    } else {
                        Z.key = Z.target.canonicalKey + "-to-" + Z.source.canonicalKey
                    }
                    Z.canonicalKey = Z.key
                });
                V();
                B.selectAll("path").transition().duration(w).ease(F).attr("d", W);
                D([]);
                b(X);
                C([L.node]);
                m([]);
                var Y = "";
                if (L.node.description) {
                    Y = L.node.description
                }
                Q.html(Y);
                n();
                z()
            }
            function b(X) {
                var X = E.selectAll(".node").data(X, u);
                var Y = X.enter().append("g").attr("transform", function (aa) {
                    var Z = aa.parent ? aa.parent : {
                        xOffset: 0,
                        x: 0,
                        y: 0
                    };
                    return "translate(" + Z.xOffset + ",0)rotate(" + (Z.x - 90) + ")translate(" + Z.y + ")"
                }).attr("class", "node").on("mouseover", g).on("mouseout", n).on("click", G);
                Y.append("circle").attr("r", 0);
                Y.append("text").attr("stroke", "#fff").attr("stroke-width", 4).attr("class", "label-stroke");
                Y.append("text").attr("font-size", 0).attr("class", "label");
                X.transition().duration(w).ease(F).attr("transform", function (Z) {
                    if (Z === L.node) {
                        return null
                    }
                    var aa = Z.isGroup ? Z.y + (7 + Z.count) : Z.y;
                    return "translate(" + Z.xOffset + ",0)rotate(" + (Z.x - 90) + ")translate(" + aa + ")"
                });
                X.selectAll("circle").transition().duration(w).ease(F).attr("r", function (Z) {
                    if (Z == L.node) {
                        return 100
                    } else {
                        if (Z.isGroup) {
                            return 7 + Z.count
                        } else {
                            return 4.5
                        }
                    }
                });
                X.selectAll("text").transition().duration(w).ease(F).attr("dy", ".3em").attr("font-size", function (Z) {
                    if (Z.depth === 0) {
                        return 20
                    } else {
                        return 15
                    }
                }).text(function (Z) {
                    return Z.name
                }).attr("text-anchor", function (Z) {
                    if (Z === L.node || Z.isGroup) {
                        return "middle"
                    }
                    return Z.x < 180 ? "start" : "end"
                }).attr("transform", function (Z) {
                    if (Z === L.node) {
                        return null
                    } else {
                        if (Z.isGroup) {
                            return Z.x > 180 ? "rotate(180)" : null
                        }
                    }
                    return Z.x < 180 ? "translate(" + t + ")" : "rotate(180)translate(-" + t + ")"
                });
                X.selectAll("text.label-stroke").attr("display", function (Z) {
                    return Z.depth === 1 ? "block" : "none"
                });
                X.exit().remove()
            }
            function V() {
                var X = B.selectAll("path").data(H, u);
                X.enter().append("path").attr("d", function (Z) {
                    var Y = Z.source ? {
                        x: Z.source.x,
                        y: Z.source.y
                    } : {
                            x: 0,
                            y: 0
                        };
                    return W({
                        source: Y,
                        target: Y
                    })
                }).attr("class", "link");
                X.exit().remove()
            }
            function C(Z) {
                var ac = d.selectAll(".detail").data(Z, u);
                var Y = ac.enter().append("g").attr("class", "detail");
                var ab = Z[0];
                if (ab && ab.type === "episode") {
                    var aa = Y.append("a").attr("xlink:href", function (ae) {
                        return "/" + ae.slug
                    });
                    aa.append("text").attr("fill", N).attr("text-anchor", "middle").attr("y", (o + t) * -1).text(function (ae) {
                        return "EPISODE " + ae.episode
                    })
                } else {
                    if (ab && ab.type === "theme") {
                        Y.append("text").attr("fill", "#aaa").attr("text-anchor", "middle").attr("y", (o + t) * -1).text("THEME")
                    } else {
                        if (ab && ab.type === "perspective") {
                            var ad = ac.selectAll(".pair").data(A.get(ab.group).filter(function (ae) {
                                return ae !== ab
                            }), u);
                            ad.enter().append("text").attr("fill", "#aaa").attr("text-anchor", "middle").attr("y", function (af, ae) {
                                return (o + t) * 2 + (ae * (o + t))
                            }).text(function (ae) {
                                return "(vs. " + ae.name + ")"
                            }).attr("class", "pair").on("click", G);
                            Y.append("text").attr("fill", "#aaa").attr("text-anchor", "middle").attr("y", (o + t) * -1).text("PERSPECTIVE");
                            ad.exit().remove()
                        }
                    }
                }
                ac.exit().remove();
                var X = d.selectAll(".all-episodes").data(Z);
                X.enter().append("text").attr("text-anchor", "start").attr("x", a / -2 + t).attr("y", c / 2 - t).text("all episodes").attr("class", "all-episodes").on("click", O);
                X.exit().remove()
            };
            // Color scale
            // function colorScale(){
            //     var rangeColor;
            //     rangeColor = ["gray","blue"];
            //     var colorScale = d3.scale.linear()
            //         .domain([0, 100])
            //         .range(rangeColor);
            //     return colorScale;
            // };
            var color = d3.scale.category20();

            function D(Y) {
                var Y = f.selectAll(".episode").data(Y, u);
                var X = Y.enter().append("g").attr("class", "episode").on("mouseover", g).on("mouseout", n).on("click", G);
                X.append("rect").attr("x", U / -2).attr("y", K / -2).attr("width", U).attr("height", K).transition().duration(w).ease(F).attr("x", function (Z) {
                    return Z.x
                }).attr("y", function (Z) {
                    return Z.y
                })
                    .attr("fill", function (Z) {
                        var i = Math.floor(Math.random() * 100);
                        // return color(i);
                        return "#000";
                    });
                X.append("text").attr("x", function (Z) {
                    return U / -2 + t
                }).attr("y", function (Z) {
                    return K / -2 + o
                }).attr("fill", "#fff").text(function (Z) {
                    return Z.name
                }).transition().duration(w).ease(F).attr("x", function (Z) {
                    return Z.x + t
                }).attr("y", function (Z) {
                    return Z.y + 10
                });
                Y.exit().selectAll("rect").transition().duration(w).ease(F).attr("x", function (Z) {
                    return U / -2
                }).attr("y", function (Z) {
                    return K / -2
                });
                Y.exit().selectAll("text").transition().duration(w).ease(F).attr("x", function (Z) {
                    return U / -2 + t
                }).attr("y", function (Z) {
                    return K / -2 + o
                });
                Y.exit().transition().duration(w).remove()
            }
            function m(Y) {
                var X = f.selectAll("path").data(Y);
                X.enter().append("path").attr("d", function (Z) {
                    return v([[Z.x1, Z.y1], [Z.x1, Z.y1], [Z.x1, Z.y1]])
                }).attr("stroke", "#000").attr("stroke-width", 1.5).transition().duration(w).ease(F).attr("d", function (Z) {
                    return v([[Z.x1, Z.y1], [Z.xx, Z.yy], [Z.x2, Z.y2]])
                });
                X.exit().remove()
            }


            // var color = d3.scale.category20();

            function z() {
                f.selectAll("rect").attr("fill", function(X) {
                    // var color = d3.scale.category20();
                    var i = Math.floor(Math.random() * 10);
                    return l(X, "#000", N, "#000");
                    // return l(X, color(i*10), N, "#000");
                });
                B.selectAll("path").attr("stroke", function (X) {
                    return l(X, "#aaa", N, "#aaa")
                }).attr("stroke-width", function (X) {
                    return l(X, "1.5px", "2.5px", "1px")
                }).attr("opacity", function (X) {
                    return l(X, 0.4, 0.75, 0.3)
                }).sort(function (Y, X) {
                    if (!k.node) {
                        return 0
                    }
                    var aa = k.map[Y.canonicalKey] ? 1 : 0
                        , Z = k.map[X.canonicalKey] ? 1 : 0;
                    return aa - Z
                });
                E.selectAll("circle").attr("fill", function (X) {
                    if (X === L.node) {
                        return "#000"
                    } else {
                        if (X.type === "theme") {
                            return l(X, "#666", N, "#000")
                        } else {
                            if (X.type === "perspective") {
                                return "#fff"
                            }
                        }
                    }
                    return l(X, "#000", N, "#999")
                }).attr("stroke", function (X) {
                    if (X === L.node) {
                        return l(X, null, N, null)
                    } else {
                        if (X.type === "theme") {
                            return "#000"
                        } else {
                            if (X.type === "perspective") {
                                return l(X, "#000", N, "#000")
                            }
                        }
                    }
                    return null
                }).attr("stroke-width", function (X) {
                    if (X === L.node) {
                        return l(X, null, 2.5, null)
                    } else {
                        if (X.type === "theme" || X.type === "perspective") {
                            return 1.5
                        }
                    }
                    return null
                });
                E.selectAll("text.label").attr("fill", function (X) {
                    return (X === L.node || X.isGroup) ? "#fff" : l(X, "#000", N, "#999")
                })
            }
            function p(X) {
                return X.toLowerCase().replace(/[ .,()]/g, "-")
            }
            function u(X) {
                return X.key
            }
            function l(X, aa, Z, Y) {
                if (k.node === null) {
                    return aa
                }
                return k.map[X.key] ? Z : aa
            }
        }
        )();
    </script>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/fact.js') }}"></script>

<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script> -->
<script>
    // var width = 900,
    //     height = 500,
    //     nodeSize = 15;
    var width = 900,
        height = 2500,
        nodeSize = 15;

    // var color = d3.scale.category20();
    function colorScale(layer) {
        var rangeColor;
        switch (layer) {
            case 1:
                rangeColor = ["gray", "blue"]
                break;
            case 2:
                rangeColor = ["gray", "red"]
                break;
            case 3:
                rangeColor = ["gray", "orange"]
                break
            default:
                break;
        }
        var colorScale = d3.scaleLinear()
            .domain([0, 100])
            .range(rangeColor);
        return colorScale;
    }



    var svg = d3.select("#relation-claim").append("svg")
        .attr("width", width)
        .attr("height", height);

    // d3.json("{{ url_for('static', filename='data/data-neuron.json') }}", function (error, graph) {
    // var nodes = graph.nodes;
    // var linkNodes = graph.links;
    // var nodes = '{{  data[0]["Google Results"]["nodes"] }}';
    // var linkNodes = '{{ data[0]["Google Results"]["links"] }}';
    // var results = '{{  data[0]["Google Results"] }}';
    var results = JSON.parse('{{  data[0]["Google Results"] | safe}}');
    var nodes = results.nodes;
    var linkNodes = results.links;

    // get network size
    var netsize = {};
    nodes.forEach(function (d) {
        if (d.layer in netsize) {
            netsize[d.layer] += 1;
        } else {
            netsize[d.layer] = 1;
        }
        d["lidx"] = netsize[d.layer];
    });

    // calc distances between nodes
    var largestLayerSize = Math.max.apply(
        null, Object.keys(netsize).map(function (i) { return netsize[i]; }));

    var xdist = width / Object.keys(netsize).length,
        ydist = (height - 15) / largestLayerSize;

    // create node locations
    nodes.map(function (d) {
        d["x"] = (d.layer - 0.5) * xdist * 0.75;
        // d["y"] = (d.lidx - 0.5) * ydist * 0.7;
        d["y"] = (((d.lidx - 0.5) + ((largestLayerSize - netsize[d.layer]) / 2)) * ydist * 0.7) + 2;
    });

    // autogenerate links
    var links = [];
    linkNodes.map(function (d, i) {
        links.push({ "source": d.source, "target": d.target, "value": 1 });
    }).filter(function (d) { return typeof d !== "undefined"; });

    // draw links
    var link = svg.selectAll(".link")
        .data(links)
        .enter().append("line")
        .attr("class", "link")
        .attr("x1", function (d) { return nodes[d.source].x; })
        .attr("y1", function (d) { return nodes[d.source].y; })
        .attr("x2", function (d) { return nodes[d.target].x; })
        .attr("y2", function (d) { return nodes[d.target].y; })
        .style("stroke-width", function (d) { return 2; });

    // draw nodes
    var node = svg.selectAll(".node")
        .data(nodes)
        .enter().append("g")
        .attr("transform", function (d) {
            return "translate(" + d.x + "," + d.y + ")";
        }
        );

    var circle = node.append("circle")
        .attr("class", "node")
        .attr("r", nodeSize)
        .style("fill", function (d) { return colorScale(d.layer)(d.reliability); });


    node.append("a")
        .attr("href", "https://www.youtube.com/")
        .append("text")
        .attr("dx", "-55px")
        .attr("dy", "-25px")
        .attr("font-size", "12px")
        .text(function (d) { return d.label; });
    // });
</script>


</html>