<!DOCTYPE html>
<meta charset="utf-8">
<style>
    body {font-family: "Inconsolata";}
</style>
<svg width="960" height="600" style="background: #333333;"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<script>

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    //.force("charge", d3.forceManyBody().strength(-200))
		.force('charge', d3.forceManyBody()
      .strength(-3000)
      .theta(0.8)
    //   .distanceMin(100)
      .distanceMax(150)
    )
// 		.force('collide', d3.forceCollide()
//       .radius(d => 40)
//       .iterations(2)
//     )
    .force("center", d3.forceCenter(width / 2, height / 2));



var colors = [
    "#a50026",
    "#d73027",
    "#f46d43",
    "#fdae61",
    // "#fee090",
    // "#ffffbf",
    "#e0f3f8",
    "#abd9e9",
    "#74add1",
    "#4575b4",
    "#313695"
  ];

var colors = [
  "#99CB8A",
  "#D2849E",
  "#CFEB8A",
  "#D0D0FF",
  "#CA8DAD",
  // "#D1B897",
  "#85E982",
  // "#E6DE95",
  // "#c0392b",
  "#e0f3f8",
    "#abd9e9",
    "#74add1",
    "#4575b4",

]

var color = d3.scaleLinear()
    .domain([0, 100])
    .range([colors.length - 1, 0])
    .clamp(true);

function get_color(name) {
    var c = Math.round(color(name));
    if (isNaN(c)) return "#dddddd"; // fallback color

    return colors[c];
  }


  
function run(graph) {
  
  // graph.links.forEach(function(d){
//     d.source = d.source_id;    
//     d.target = d.target_id;
  // });   

  var link = svg.append("g")
                .attr("class", "links")
                .style("stroke", "#666")
                .selectAll("line")
                .data(graph.links)
                .enter().append("line")
                .attr('id',function(d){return d.source + '' + d.target + '' + d.value;})
                .style("stroke",function(d){ return "#999999"/*get_color(d.value)*/;})
                .style("stroke-width",function(d) { return d.value / 200 + 'px'});

  var node = svg.append("g")
            .attr("class", "nodes")
  .selectAll("circle")
            .data(graph.nodes)
  .enter().append("circle")
          .attr("r", 2)
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));
  
  var label = svg.append("g")
      .attr("class", "labels")
      .selectAll("text")
      .data(graph.nodes)
      .enter().append("text")
        .attr("class", "label")
        // .style("fill",'red')
        .text(function(d) { return d.name; })

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
         .attr("r", function(d){ return d.category == 'source' ? d.group / 2 : 6})
         .style("fill", function(d){return d.category == 'source' ? get_color(d.group) : "#4575B4"})
         .style("stroke", "#333")
         .style("stroke-width", "1.0px")
         .attr("cx", function (d) { return d.x+5; })
         .on("mouseover", mouseover)
         .on('mouseout',mouseout)
         .attr("cy", function(d) { return d.y-3; });
    
    label
    		.attr("x", function(d) { return d.x; })
            .attr("y", function (d) { return d.y; })
            .style("font-size",function(d){ return d.category == "source" ? '18px' : '8px'})
            .style("font-weight", function(d){ return d.category == "source" ? '500' : '300'})
            .style("fill", function(d){return d.category == "source" ? "#DB1430" : "#ddd"});
  }

  function mouseover(d) {
    for (var i = 0; i < graph.links.length; i++)
      if(d.id == graph.links[i].source.id){
        d3.select('[id="' + graph.links[i].source.id + '' + graph.links[i].target.id +'' + graph.links[i].value + '"]')
          .style("stroke-width", "1px")
          .style("stroke", "#0da4d3");
      }
  }

  function mouseout(d) {
    for (var i = 0; i < graph.links.length; i++)
    if(d.id == graph.links[i].source.id){
      d3.select('[id="' + graph.links[i].source.id + '' + graph.links[i].target.id +'' + graph.links[i].value + '"]')
        .style("stroke-width", '0.2px')
        .style("stroke", "#999999");
    }
  }

}

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart()
  d.fx = d.x
  d.fy = d.y
//  simulation.fix(d);
}

function dragged(d) {
  d.fx = d3.event.x
  d.fy = d3.event.y
//  simulation.fix(d, d3.event.x, d3.event.y);
}

function dragended(d) {
  d.fx = d3.event.x
  d.fy = d3.event.y
  if (!d3.event.active) simulation.alphaTarget(0);
  //simulation.unfix(d);
}


  
// run(graph)
d3.json("http://localhost:5050/claim/getNeural?id=100-meijer-coupon", function(err,data) {
  console.log(data.links);  
  run(data);
});

</script>