body {
  margin: 0;
  height: 100%;
  /* background-color: #a9a9a9; */
  /* font-family:  "Open Sans Condensed", "Open Sans", helvetica, sans-serif; */
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
}

h2 {
  /* text-align: center;
  font-size: 3em;
  /* margin-bottom: 10px; */
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  /* color: white; */ 
  /* color: red; */
  /* text-shadow: 0 1px 2px rgba(black,.15); */
}

#logo-griffith > a > div {
  font-size: 30px;
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: brown;
}

a {
  text-decoration: none;
}

.grid-container {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  /* padding: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  /* padding: 20px 0; */
  font-size: 16px;
}


.header {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
}

#detail {
    /* grid-column-start: 2; */
    /* grid-column-end: 3; */
}

.claim {
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    background-color: #4caf50;
    padding: 15px 20px;
}

#block-list-claim {
  padding: 0px;
  height: 525px;
  overflow: auto;
}

#block-content {
  display: grid;
  grid-template-columns: 350px auto;
}

.grid-header {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196f3; */
  /* grid-gap: 10px; */
}

.grid-header > div {
  background-color: #282a3c;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}

#select-file{
  padding: 30px 0;
}

#logo-griffith {
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
}

/* input[type="file"]{

} */

.button {
  background-color: brown; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin: 4px 0px;
  cursor: pointer;
}

.claim-table {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  /* overflow: auto; */
  /* max-height: 500px; */
}



.claim-table td,
.claim-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

/* tr > th{
  background-color: red;
} */

/* .claim-table td {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  /* text-align: left; */
} */

.claim-table tr {
  cursor: pointer;
}

/* .claim-table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.claim-table tr:hover {
  /* background-color: #a9a9a9; */
  /* text-align: left; */
}


.claim-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:brown;
  color: white;
}


.claim-short {
  /* text-align: left; */
}

#block-claim {
  height: 560px;
  /* overflow: auto; */
}
#block-claim2 {
  height: 500px;
  overflow: auto;
}

.detail {
  /* width: ; */
  /* text-align: left; */
  padding: 20px 20px;
  border-left: 2px brown solid;
}

.content {
  padding: 20px 10px;
}

#more {display: none;}

.detail > div > span {
  font-size: 16px;
  padding-right: 5px;
}

#info-claim{
  /* background-color: lightblue; */
  /* width: 110px; */
  /* height: 420px; */
  /* height: 300px; */
  overflow: auto;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}



#radio-credibility {
  text-align: center;
  padding: 20px 0px;
}

.validation-claim{
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.btn-validation {
  margin: 0px 10px;
  padding: 10px;
  /* width: 90px; */
}

#header-claim {
  padding: 0px 0px 10px 0px;
  height: 50px;
}

::-webkit-scrollbar{
  display: none;
}


.tag-claim > span {
  background-color: aquamarine;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right : 5px;
}

.tag-claim-item {
  background-color: aquamarine;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right : 5px;
}

#btn-readmore {
  padding: 2px;
  background-color: #282a4d;
}

#no-claim {
  /* padding : 10px 10px; */
  /* background-color: brown; */
  /* border-radius : 50%; */
  color : brown;
  /* margin-right:10px; */
  font-size:18px;
  font-weight: bold;
  /* padding-left : 0; */
}

.row-clicked{
  /* background-color: #282a4d; */
  background-color: gray;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/* * {
  box-sizing: border-box;
} */



#input-for-claim {
  font-size: 14px;
  padding: 6px 20px 6px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin:0px 20px;
}

th i {
  margin-top:2px;
  float:right;
  /* margin-right: 2px; */
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.item-tab {
  height: 370px;
}

ul {
  list-style: none;
  /* border: 1px solid #d0d0d0; */
  width: 350px;
  padding: 0px;
  height: 100%;
  margin-top: 0px;
}

li {
  padding : 20px 10px;
  /* width: 300px; */
  min-height: 80px;
  border-bottom: 1px solid #d0d0d0;
  display: grid;
  grid-template-columns: 30px auto;
  /* line-height: 60px; */
  /* vertical-align: middle; */
}

li > div {
  width: 100%;
  min-height: 60px;
  /* top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  /* vertical-align: middle; */
  /* transform: translateY(20%); */
}

li > .icon-credibility {
  /* top: 20%; */
  /* transform: translateY(30%); */
}

#title-list-claim {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 12px 10px;
}