body {
  margin: 0;
  height: 100%;
  /* background-color: #a9a9a9; */
  /* font-family:  "Open Sans Condensed", "Open Sans", helvetica, sans-serif; */
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 500;
}

h2 {
  /* text-align: center;
  font-size: 3em;
  /* margin-bottom: 10px; */
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  /* color: white; */ 
  /* color: red; */
  /* text-shadow: 0 1px 2px rgba(black,.15); */
}

#logo-griffith > a > div {
  font-size: 25px;
  /* padding: 5px; */
  padding-left: 0px;
  font-weight: bold;
  color: brown;
}

a {
  text-decoration: none;
}

.grid-container {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  /* padding: 10px; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  /* padding: 5px; */
  font-size: 16px;
}


.header {
  grid-column-start: 1;
  grid-column-end: 3;
  color: white;
}

#detail {
    /* grid-column-start: 2; */
    /* grid-column-end: 3; */
}

.claim {
    /* grid-column-start: 1; */
    /* grid-column-end: 2; */
    background-color: #4caf50;
    padding: 15px 20px;
}

#block-list-claim {
  padding: 0px;
  height: 530px;
  overflow: auto;
}

#block-content {
  display: grid;
  grid-template-columns: 350px auto;
}

.grid-header {
  display: grid;
  grid-template-columns: auto auto auto;
  /* height: 60px; */
  /* background-color: #2196f3; */
  /* grid-gap: 10px; */
}

.grid-header > div {
  background-color: #282a3c;
  text-align: center;
  /* padding: 10px; */
  font-size: 18px;
}

#select-file{
  padding: 10px;
  /* margin-top: 4px; */
}

.header-content {
  padding: 8px;
}

.header-content > button {
  margin-left: 10px;
}

#logo-griffith {
  padding: 8px;
  padding-left: 0px;
  margin-left: 0px;
}

/* input[type="file"]{

} */

.button {
  background-color: brown; /* Green */
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin: 4px 0px;
  cursor: pointer;
}

.claim-table {
  /* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  /* overflow: auto; */
  /* max-height: 500px; */
}



.claim-table td,
.claim-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

/* tr > th{
  background-color: red;
} */

/* .claim-table td {
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  /* text-align: left; */
} */

.claim-table tr {
  cursor: pointer;
}

/* .claim-table tr:nth-child(even) {
  background-color: #f2f2f2;
} */

.claim-table tr:hover {
  /* background-color: #a9a9a9; */
  /* text-align: left; */
}


.claim-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color:brown;
  color: white;
}


.claim-short {
  /* text-align: left; */
}

#block-claim {
  height: 580px;
  /* overflow: auto; */
}
#block-claim2 {
  height: 500px;
  overflow: auto;
}

.detail {
  /* width: ; */
  /* text-align: left; */
  padding: 0px 20px;
  border-left: 2px brown solid;
}

.content {
  padding: 10px 10px;
  font-size: 15px;
}

#more {display: none;}

.detail > div > span {
  font-size: 16px;
  padding-right: 5px;
}

#info-claim{
  /* background-color: lightblue; */
  /* width: 110px; */
  /* height: 420px; */
  /* height: 480px; */
  overflow: auto;
  overflow-x: hidden;
  border-radius: 0px 0px 8px 8px;
  /* overflow-y: hidden; */
}



#radio-credibility {
  text-align: center;
  padding: 20px 0px;
}

.validation-claim{
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.btn-validation {
  float: right;
  /* margin: 0px 10px; */
  /* padding: 4px; */
  /* width: 90px; */
  background-color: brown;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 3px 10px;
  transition: 0.3s;
  font-size: 15px;
}

#header-claim {
  padding: 0px 0px 10px 0px;
  height: 50px;
}

::-webkit-scrollbar{
  display: none;
}


.tag-claim > span {
  background-color: aquamarine;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right : 5px;
}

.tag-claim-item {
  background-color: aquamarine;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right : 5px;
}

#btn-readmore {
  padding: 2px;
  background-color: #ccc;
  color: #000;
}

.no-claim {
  color : brown;
  font-size:14px;
  font-weight: bold;
}

.row-clicked{
  /* background-color: #282a4d; */
  background-color: #ccc;
  /* color: white; */
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


/* * {
  box-sizing: border-box;
} */



#input-for-claim {
  font-size: 14px;
  padding: 6px 20px 6px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 200px;
  margin:0px 10px;
}

th i {
  margin-top:2px;
  float:right;
  /* margin-right: 2px; */
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 6px 6px 0px 0px;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 12px 16px; */
  padding: 8px 10px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {color: red;}

.item-tab {
  height: 540px;
}

ul {
  list-style: none;
  /* border: 1px solid #d0d0d0; */
  width: 350px;
  padding: 0px;
  height: 100%;
  margin-top: 0px;
}

li {
  padding : 10px 10px;
  min-height: 60px;
  border-bottom: 1px solid #ccc;
  /* display: grid; */
  /* grid-template-columns: 30px auto; */
}

li > div {
  width: 100%;
  padding: 5px 0px 10px 0px;
  /* min-height: 50px; */
  font-size: 14px;
}

#title-list-claim {
  background-color: brown;
  color: white;
  text-align: center;
  padding: 8px 10px;
}

#sources {
  overflow: auto;
}



.container {
  max-height: 5px;
  text-align: center;
}

@keyframes progressAnimationStrike {
     from { width: 0 }
     to   { width: 100% }
}
 
.progress2 {
  padding: 2px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 5px;
  border-radius: 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  width: 85%; 
  /* background-color: #EF476F;   */
  /* background-color:  #75b800; */
  background-color: brown;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #eef1f3;;}
  100% { width: 85%; background-color:  brown; }
}

@keyframes colorAnimation {
  0% { 
    background-image: 
    linear-gradient(to right, $green, $turquoise, $blue, $light-blue, $purple, $red);
  }
  20% { 
    background-image: 
    linear-gradient(to right, $turquoise, $blue, $light-blue, $purple, $red, $green);
  }
  40% { 
    background-image: 
    linear-gradient(to right, $blue, $light-blue, $purple, $red, $green, $turquoise);
  }
  60% { 
    background-image: 
    linear-gradient(to right, $light-blue, $purple, $red, $green, $turquoise, $blue);
  }
  100% { 
    background-image: 
    linear-gradient(to right, $purple, $red, $green, $turquoise, $blue, $light-blue);
  }
}

svg {
  font: 12px sans-serif;
}

text {
  pointer-events: none;
}

.inner_node rect {
  pointer-events: all;
}

.inner_node rect.highlight {
  stroke: #315B7E;
  stroke-width: 2px;
}

.outer_node circle {
  /* fill: #fff; */
  /* fill: #0da4d3; */
  fill: #666;
  /* stroke: steelblue; */
  stroke: black;
  stroke-width: 1.5px;
  pointer-events: all;
}

.outer_node circle.highlight {
  stroke: #315B7E;
  stroke-width: 2px;
}

.link {
  fill: none;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content-collapsible {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


/* Remove IE arrow */
/* select::-ms-expand {
  display: none;
} */
/* Custom Select */
/* select {
  width: 20px;
  height: 20px;
  background: #a9a9a9;
  overflow: hidden;
} */